<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category}">Categories</a>
                </li>

            </ul>
        </div>
        <img src="https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/464863105_1253627036091062_7729226851404703721_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeENoGA6rIvHANV5jJi28PQH--dZy-s2V2n751nL6zZXafk52F9yPWDPbTUjp35tK_mbifVbOHHAkYZO6rrXZjZD&_nc_ohc=4TY9V00idlkQ7kNvgHpFBWt&_nc_zt=23&_nc_ht=scontent.fsgn5-14.fna&_nc_gid=ABHcMOgTLUlCv8bb7RNJue2&oh=00_AYC5pP25vI0hIxnmSHl7tWX41m2j2PpUcCOqLE_Z7mfjnA&oe=6724D6BF" alt="Icon" width="50" height="50" class="me-2">
    </nav>
</header>
</body>
</html>